body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

/* CONTENEDOR */
.login-container {
  max-width: 400px;
  margin: 120px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 3px solid #11540c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.login-container img {
  display: block;
  margin: 0 auto 15px;
  border-radius: 0%;
  width: 345px;
  height: 70px;
  object-fit: cover;
}

/* TITULO */
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #11540c;
  font-weight: bold;
}

/* BOTON */
.btn-login {
  background-color: #11540c;
  color: white;
  font-weight: 600;
}

.btn-login:hover {
  background-color: #0d4109;
}

/* LINK */
.toggle-link {
  color: #11540c;
  cursor: pointer;
  font-weight: 500;
}

.toggle-link:hover {
  text-decoration: underline;
}

/* VOLVER */
.back-btn {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #11540c;
  font-weight: 500;
  text-decoration: none;
}

.back-btn:hover {
  text-decoration: underline;
}